@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p> Gerenciador de tarefas desenvolvido por Guilherme Bezerra, estudante de Engenharia da Computação na Universidade Federal do Rio 
    Grande do Norte. </p>
